
node_modules/
app/*.js
app/*.map

# ignore sqlite files
**/*.sqlite3

# ignore pyc compiled files, which can vary, but we don't care
# since they are recompiled per client 
**/__pycache__


# ignore migrations, so that you can make your database from scratch
team1/squadster/migrations

# do not check in python virtualenv files
team1/bin/
team1/include/
team1/lib/
team1/share/
team1/pip-selfcheck.json


# don't check in npm things
team1/squadster/angularjs/node_modules/
team1/squadster/angularjs/npm-debug.log
