# ignore sqlite files
**/*.sqlite3

# ignore pyc compiled files, which can vary, but we don't care
# since they are recompiled per client 
**/__pycache__


# ignore migrations, so that you can make your database from scratch
team1/squadster/migrations
