<div class="row">
    <div id="topnav">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2 margin">
            <button type="button" class="btn btn-info btn-block" routerLink="app/list-view" routerLinkActive="active">Events Nearby</button>
        </div>
        <div class="col-xs-2 margin">
            <button type="button" class="btn btn-info btn-block" routerLink="app/my-events" routerLinkActive="active">My Events</button>
        </div>
        <div class="col-xs-3 margin">
            <div class="mapswitch">
                <input type="checkbox" name="mapswitch" class="mapswitch-checkbox" id="mymapswitch" checked (change)="toggle()">
                <label class="mapswitch-label" for="mymapswitch">
                    <span class="mapswitch-inner"></span>
                    <span class="mapswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>