<div id="head">
  <div id="nav">
    <searchbar></searchbar>
    <topnav></topnav>
  </div>
  <div class="col-xs-2" id="filter">
    <filters></filters>
  </div>
  <div class="col-xs-1"></div>
  <div id="body" class="col-xs-9">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="isEdited()" class="col-xs-3 margin">
    <div class="mapswitch">
        <input type="checkbox" name="mapswitch" class="mapswitch-checkbox" id="mymapswitch" [checked]="check()" (change)="toggle()">
        <label class="mapswitch-label" for="mymapswitch">
            <span class="mapswitch-inner"></span>
            <span class="mapswitch-switch"></span>
        </label>
    </div>
</div>
