<h2>{{ title }}</h2>
<div class="body">
  <label>Event Title: </label>
  <input [(ngModel)]="create.title">
  <br><br>

  <label>Event Location: </label>
  <input [(ngModel)]="create.location" (focus)="onFocus()" id="google_places_ac" name="google_places_ac"  type="text" class="input-block-level"
  >
  <br><br>

  <div>
    <label>Latitude, Longitude: </label>
    {{lat}}, {{lng}}
    <br><br>
  </div>

  <label>Date: </label>
  <datepicker [(ngModel)]="create.date" [showWeeks]="false" [minDate]="minDate"></datepicker>

  <label>&nbsp;Time: </label>
  <input type="time" [(ngModel)]="create.eventTime">
  <br><br>

  <label>Max Attendees: </label>
  <input [(ngModel)]="create.max_attendees">
  <br><br>

  <label>Description: </label>
  <input [(ngModel)]="create.description">
  <br><br>

  <button (click)="add(create)">Add</button>
  <br><br>
  
  <p>{{ status }}</p>
</div>
