<div id="eventdetails" *ngIf="event">
  <h2>{{event.title}}</h2>
  <div class="italics">
    Hosted by
    <span class="details">{{event.summary_fields.host_email}}</span> at
    <span class="details">{{event.date | date:'shortTime'}}</span> on
    <span class="details">{{event.date | date:'yMMMMd'}}</span>
  </div>
  <div>
    <label>Attendees so far:</label> {{event.summary_fields.number_of_attendees}}/{{event.max_attendees}}
  </div>
  <div>
    <label>Description:</label>
    <textarea rows="2" cols="3" class="form-control shadow margins" [(ngModel)]="event.description" maxlength="250" readonly="readonly">
    </textarea>
    <br>
  </div>
  <sebm-google-map [latitude]="lat" [longitude]="lon" [zoom]="zoom">
      <sebm-google-map-marker title="Drag to change location"
              [latitude]="lat"
              [longitude]="lon"
              [draggable]="false"
              [markerDraggable]="true"
              (dragEnd) = "dragEnd($event)"
              [iconUrl] = "iconUrl">
          <sebm-google-map-info-window [isOpen]="true">
              <strong>Event Location</strong>
          </sebm-google-map-info-window>
      </sebm-google-map-marker>
  </sebm-google-map>
  <div>
    <h2>Comments:</h2>
    <div>
      <textarea rows="5" cols="5" class="form-control shadow margins" [(ngModel)]="inputComment" placeholder="Add a new comment here..." maxlength="250"></textarea>
      <button (click)="addComment()" class="addButton">Add Comment</button><br>
    </div>
    <div *ngFor="let comment of comments" class="comments shadow margins">
      <span>{{comment.text}}</span>
      <span class="details italics footer">{{comment.summary_fields.author_email}} Posted at {{comment.date_added | date:'shortTime'}} on {{comment.date_added | date:'yMMMMd'}}</span><br>
    </div>
    <a *ngIf="!noMoreComments" (click) = "getMoreComments()">Show more...</a>
  </div>
</div>
