<div id="filter">
    <div class="heading">
        Filter by:
    </div>
    <div>
        <label>Tags:</label>
        <br>
        <div class="btn-group tags">
            <label class="btn btn-primary" [(ngModel)]="checkModel.food" btnCheckbox>Food</label>
            <label class="btn btn-primary" [(ngModel)]="checkModel.sports" btnCheckbox>Sports</label>
            <label class="btn btn-primary" [(ngModel)]="checkModel.hangout" btnCheckbox>Hangout</label>
        </div>
        <div class="btn-group tags">
            <label class="btn btn-primary" [(ngModel)]="checkModel.movie" btnCheckbox>Movie</label>
            <label class="btn btn-primary" [(ngModel)]="checkModel.study" btnCheckbox>Study</label>
            <label class="btn btn-primary" [(ngModel)]="checkModel.gaming" btnCheckbox>Gaming</label>
        </div>
    </div>
    <div>
        <label>Date: </label>
        <datepicker [(ngModel)]="date" [showWeeks]="false" [minDate]="minDate"></datepicker>
    </div>
</div>