<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div>
    <button type="button" class="btn btn-warning btn-lg" (click)="printLocation()">Print location</button>
</div>

<div class="in-line">
    <select class="form-control" id="distance" [(ngModel)]="distanceSelected" (ngModelChange)="onChange()" name="distance">
        <option *ngFor="let d of distances" [value]="d" (change)="updateMap()">{{d}}</option>
    </select>
</div>

<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">

    <sebm-google-map-marker
            [latitude]="lat"
            [longitude]="lng"
            [draggable]="true"
            [markerDraggable]="true"
            (dragEnd) = "dragEnd($event)">
        <sebm-google-map-info-window [isOpen]="true">
            <strong>My Current Location</strong>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-circle
            [latitude]="lat" [longitude]="lng"
            [radius]="radius"
            [fillColor]="circleColor"
            [circleDraggable]="false"
            [editable]="false"
            [clickable]="false">
    </sebm-google-map-circle>

    <!--This will handle poppulating events from API-->
    <sebm-google-map-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [iconUrl]="m.iconUrl">
        <sebm-google-map-info-window>
            <a (click)="eventDetails(m.event_id)">Go to event here</a>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <!--This will handle new pins added by the user-->
    <sebm-google-map-marker
            *ngFor="let m of newPins; let i = index"
            (markerClick)="clickedMarker(m, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [iconUrl]="m.iconUrl">
        <sebm-google-map-info-window>
            <a (click)="host(m.lat, m.lng)">Host a New Event</a>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

</sebm-google-map>
