#head {
}

#nav sidenav{
  width: 150px;
  height: 100%;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
}

#body {
  width: 500;
  float: left;
  margin: 0;
  padding: 0;
  display: inline;
}

.create {
  font-size: 50px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.menu {
  margin-top: 50px;
}

.sidebar{
  margin-top: 100px;
}