
#searchbar {
    background-color: #444;
    font-size: large;
    height: 60px;
}

#searchbar .ion-person{
    font-size: 14px;
}

#logo img{
    height: 40px;
    width: 150px;
    float: left;
    margin-left: 40px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#searchbar .searchbox {
    width: 100%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s;
    margin-top: 13px;
}

#searchbar .btn-warning {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
    width: 90%;
}

#searchbar .btn-success{
    margin-top: 12px;
    margin-bottom: -2px;
    width: 100%;
}

#searchbar .move-left{
    margin-left: 25px;
}

#searchbar .distance{
    color: white;
    margin-top: 14px;
    margin-bottom: 14px;
    display: inline-block;
}

#searchbar .change-text{
    text-decoration: underline;
    color: white;
}

#searchbar .btn-group{
    width: 100%;
}

#searchbar .dropdown-menu{
    width: 100%;
}

#searchbar .option-text{
    color: black;
}

#searchbar .in-line{
    display: inline-block;
}