#topnav{
  white-space: nowrap;
  overflow: hidden;
}
#topnav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 40px;
}
#topnav li {
  line-height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  font-size: 1.2em;
  height: 40px;
  width: 300px;
}
#topnav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
#topnav a:hover {
  background-color: #005f5f;
}
#topnav a.active {
  background-color: #fff;
  color: #333;
  cursor: default;
}
#logo img{
  height: 40px;
  width: 150px;
  float: left;
  margin-left: 5px;
}
