#head {
}

#body {
  width: 500px;
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu {
  margin-top: 50px;
}

.sidebar {
  margin-top: 100px;
}

#filter {
  padding: 0 6px 0 9px;
  line-height: normal;
  border-right: 1px solid #DDD;
  margin-bottom: 20px;
  width: 290px;
}