#sidenav{
  white-space: nowrap;
  overflow: hidden;
}
#sidenav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
}
#sidenav li {
  line-height: 40px;
  border-bottom: 1px solid #888;
  display: block;
  font-size: 1.2em;
  height: 40px;
  width: auto;
}
#sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
#sidenav a:hover {
  background-color: #005f5f;
}

#sidenav a.active {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  cursor: default;
}
